# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open Browser-Plus'
      'command': 'browser-plus:open'
    }

  ],
"menu": [
  {
    "label": "Packages",
    "submenu": [
      {
        "label": "Browser Plus",
        # Leave in sub-menu so we can add more later.
        "submenu": [
          {
            "label": "Open Browser Plus",
            "command": "browser-plus:open"
          }
        ]
      }
    ]
  }
]
