# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open Browser-Plus'
      'command': 'browser-plus:open'
    }

  ]
