#bp-menu{
  position:absolute;
  z-index:999;
  min-width:80px;
  margin:0;
  list-style:none;
  background:#fff;
  color:#333;
  padding: 5px;
  -moz-border-radius:5px;
   -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0 0 5px #999;
  -webkit-box-shadow:0 0 5px #999;
  box-shadow:0 0 5px #999;
}

#bp-menu li{
  padding:5px;
  border-bottom: solid 1px #ccc;
}

#bp-menu li:hover {
  color: #fff;
  cursor: pointer;
  background-color: #2980b9;
}

#bp-menu li:last-child {
  border:none
}
